{% load staticfiles %}
{% load tastypie_browser_tags %}
<!DOCTYPE html>
<html>
	<head>
	{% block head %}

		{% block meta %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="robots" content="NONE,NOARCHIVE" />
		{% endblock %}

		<title>{% block title %}Django REST framework{% endblock %}</title>

		{% block style %}
		{% block bootstrap_theme %}
			<link rel="stylesheet" type="text/css" href="{% static "tastypie_browser/css/bootstrap.min.css" %}"/>
			<link rel="stylesheet" type="text/css" href="{% static "tastypie_browser/css/bootstrap-tweaks.css" %}"/>
		{% endblock %}
		<link rel="stylesheet" type="text/css" href="{% static "tastypie_browser/css/prettify.css" %}"/>
		<link rel="stylesheet" type="text/css" href="{% static "tastypie_browser/css/default.css" %}"/>
		{% endblock %}

	{% endblock %}
	</head>

  <body class="{% block bodyclass %}{% endblock %} container">

	<div class="wrapper">

	{% block navbar %}
	<div class="navbar {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
		<div class="navbar-inner">
			<div class="container-fluid">
				<span href="/">
					{% block branding %}<a class='brand' rel="nofollow" href='http://www.django-rest-framework.org'>Django REST framework</a>{% endblock %}
				</span>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block breadcrumbs %}
	<ul class="breadcrumb">
		{% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
			<li>
				<a href="{{ breadcrumb_url }}" {% if forloop.last %}class="active"{% endif %}>{{ breadcrumb_name|capfirst }}</a> {% if not forloop.last %}<span class="divider">&rsaquo;</span>{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endblock %}

	<!-- Content -->
	<div id="content">

		<form id="get-form" class="pull-right">
			<fieldset>
				{% block right_buttons %}
				<div class="btn-group format-selection">
					<a class="btn btn-primary js-tooltip" href='{{ request.get_full_path }}' rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

					<button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% for format in available_formats %}
							<li>
								<a class="js-tooltip format-option" href='{{ request.path }}?format={{ format }}' rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% endblock %}

			</fieldset>
		</form>

		{% if options_form %}
			<form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right">
				{% csrf_token %}
				<input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="OPTIONS" />
				<button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
			</form>
		{% endif %}

		{% if delete_form %}
			<form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right">
				{% csrf_token %}
				<input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="DELETE" />
				<button class="btn btn-danger js-tooltip" title="Make a DELETE request on the {{ name }} resource">DELETE</button>
			</form>
		{% endif %}

		<div class="content-main">
			<div class="page-header"><h1>{% block site_title %}{{ name }}{% endblock %}</h1></div>
			{% block description %}
			<p>Note that you can also explore the API from the command line, for instance
			using the <code>curl</code> command-line tool.</p>
			<p>For example: <code>curl -X {{ request.META.REQUEST_METHOD }} http://{{ request.META.HTTP_HOST }}{{ request.META.PATH_INFO }} -H "Accept: application/json"</code></p>
			{% endblock %}
			{% if request %}
				<div class="request-info" style="clear: both" >
					<pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
				</div>
			{% endif %}
			<div class="response-info">
				<pre class="prettyprint"><div class="meta nocode"><b>HTTP {{ response.status_code }}</b>
{% for key, val in response.items %}<b>{{ key }}:</b> <span class="lit">{{ val }}</span>
{% endfor %}
</div>{{ content|safe }}</pre>
			</div>
		</div>

		{% if 'POST' in allowed_methods and url_info.url_name == 'api_dispatch_detail' and 'PATCH' in allowed_methods or url_info.url_name == 'api_dispatch_list' and 'POST' in allowed_methods %}
			<div class="tabbable">
				<ul class="nav nav-tabs form-switcher">
					{% if post_form %}
						<li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
					{% endif %}
					<li><a name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
				</ul>
				<div class="well tab-content">
					{% if post_form %}
					<div class="tab-pane" id="object-form">
						{% with form=post_form %}
						<form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								{{ post_form }}
								<div class="form-actions">
									<button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
								</div>
							</fieldset>
						</form>
						{% endwith %}
					</div>
					{% endif %}
					<div {% if post_form %}class="tab-pane"{% endif %} id="generic-content-form">
						{% with form=raw_data_post_form %}
						<form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">{% csrf_token %}
							<fieldset>
								<div class="control-group">
									<label for="content_type" class="control-label required">Format</label>
									<div class="controls">
										<select id="content_type" name="_content_type" id="format_select">
											{% for format, content_type in content_types.items %}
												<option value="{{ content_type }}">{{ content_type }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="raw_data">Data</label>
									<div class="controls">
										<textarea class="raw_input" id="raw_data" name="raw_data"></textarea>
										<span class="help-block">{{ field.help_text }}</span>
									</div>
								</div>
								<div class="form-actions">
									<input type="hidden" name="_method" value="{{ default_method }}" />
									<button class="btn btn-primary" title="Make a {{ default_method }} request on the {{ name }} resource">{{ default_method }}</button>
								</div>
							</fieldset>
						</form>
						{% endwith %}
					</div>
				</div>
			</div>
		{% endif %}
		</div>
		<!-- END content-main -->

	</div>
	<!-- END Content -->

		<div id="push"></div>

	</div>

	</div><!-- ./wrapper -->

	{% block footer %}
	{% endblock %}

	{% block script %}
	<script src="{% static "tastypie_browser/js/jquery-1.8.1-min.js" %}"></script>
	<script src="{% static "tastypie_browser/js/bootstrap.min.js" %}"></script>
	<script src="{% static "tastypie_browser/js/prettify-min.js" %}"></script>
	<script src="{% static "tastypie_browser/js/default.js" %}"></script>
	{% endblock %}
  </body>
</html>

